{% extends 'layout.html' %}
{% block header %}
<h1> אודות הבלוג </h1>
<p>פורסם ע"י <span class="glyphicon glyphicon-user"></span> <a href="/about"> מאור גואז </a> בתאריך <span class="glyphicon glyphicon-time"></span> 2017-01-18
{% endblock %}

{% block middle_area %}
					<figure class="margin-b-2">
						<img class="img-responsive" src="Image_Location" alt="">
						<b></b>
						<figcaption class="margin-t-h"></figcaption>
					</figure>

					<p class="lead"><h4>למה הקמתי את הבלוג הזה?</h4></p><hr>
<p>בעולם הטכנולוגי של היום, אין אדם שיכול להרשות לעצמו לא להיות טכנולוגי.רוב המקצועות החדשים, המובילים ובדר"כ המרוויחים ביותר דורשים היכרות ברמה כזו או אחרת של קוד.</p>
<p>הקושי העיקרי בלמידה של תכנות בסיסי היא העובדה שרוב רובו של הידע נכתב באנגלית, מה שבדר"כ מרתיע חלק מהאנשים ומונע מהם להפתח לעולם הטכנולוגי ששוטף אותנו ומגיע לכל דבר שאנחנו צורכים ב-20 השנים האחרונות.</p>
<p>בין אם זה&nbsp;</p>
					<hr>

{% endblock %}