{% extends 'layout.html' %}
{% block header %}
<h1> אודות הבלוג </h1>
<p> <span class="glyphicon glyphicon-user"></span>&nbsp; פורסם ע"י <a href="/about">מאור גואז  </a>&nbsp;&nbsp;<span class="glyphicon glyphicon-time"></span>&nbsp; בתאריך 30/06/2017</p>

{% endblock %}

{% block middle_area %}
<h4><b>למה הקמתי את הבלוג הזה?</b></h4>
<hr>
<p>בעולם הטכנולוגי של היום, אין אדם שיכול להרשות לעצמו לא להיות טכנולוגי.רוב המקצועות החדשים, המובילים ובדר"כ המרוויחים ביותר דורשים היכרות ברמה כזו או אחרת של קוד.</p>
<p>הקושי העיקרי בלמידה של תכנות בסיסי היא העובדה שרוב רובו של הידע נכתב באנגלית, מה שבדר"כ מרתיע חלק מהאנשים ומונע מהם להפתח לעולם הטכנולוגי ששוטף אותנו ומגיע לכל דבר שאנחנו צורכים ב-20 השנים האחרונות.</p>
<p>בין אם זה&nbsp;</p>
<hr>

{% endblock %}