{% extends 'layout.html' %}
{% block header %}
<h1> {{ post.Title }} </h1>
{% if post.Primary_Tag == 'System Messages' %}
	<p> <span class="glyphicon glyphicon-user"></span> פורסם ע"י <a href="/about">{{ post.Author }}  </a> &nbsp;&nbsp;&nbsp;&nbsp; <span class="glyphicon glyphicon-time"></span>  בתאריך {{ post.Date.strftime("%Y-%m-%d %H:%M") }}   &nbsp;&nbsp;&nbsp;&nbsp;<img src="/static/pictures/tag.png" height="20" width="20">&nbsp;  בנושא {{ post.Primary_Tag}}</p>
{% else %}
	<p> <span class="glyphicon glyphicon-user"></span> פורסם ע"י <a href="/about">{{ post.Author }}  </a> &nbsp;&nbsp;&nbsp;&nbsp; <span class="glyphicon glyphicon-time"></span>  בתאריך  {{ post.Date.strftime("%Y-%m-%d %H:%M") }}   &nbsp;&nbsp;&nbsp;&nbsp;<img src="/static/pictures/tag.png" height="20" width="20">&nbsp;  בנושא <a href="/{{post.Primary_Tag}}">{{post.Primary_Tag}}</a></p>
{% endif %}
{% endblock %}

{% block middle_area %}
					<figure class="margin-b-2">
						<img class="img-responsive" src="{{post.Image_Location}}" alt="">
						<figcaption class="margin-t-h">{{post.Image_Caption|safe}}</figcaption>
					</figure>

					<p class="lead"><h4>{{post.Lead|safe}} </h4></p><hr>
					<p>{{post.Text|safe}}</p>
					<hr>

					<!-- Comment form -->
					<h3>השאר תגובה</h3>
					<p>אנא הגב בנעימות וסבלנות לקוראים אחרים. תודה.</p>
					<div class="well">
						<form action="{{ url_for('add_comment',title=post.Title) }}" method="post">
							<div class="form-group">
								<label for="contactName">שם</label>
								<input type="text" class="form-control" id="contactName" placeholder="הכנס את שמך" name="contactName">
							</div>
							<div class="form-group">
								<label for="contactEmail">דוא"ל</label>
								<input type="email" class="form-control" id="contactEmail" placeholder="הכנס כתובת דואר אלקטרוני" name="contactEmail">
								<p class="help-block">נא ודא כי כתובת הדוא"ל נכונה.</p>
							</div>
							<div class="form-group">
								<label for="contactComment">תגובה</label>
								<textarea class="form-control" id="contactComment" name="contactComment"></textarea>
							</div>
							<button type="submit" class="btn btn-default">שלח</button>
						</form>
					</div>
					<hr>
					<!-- Comments -->
					<h3>{{ comments |length }} תגובות</h3>
					{% if comments | length == 0 %}
						לא פורסמו עדיין תגובות. <b>היה הראשון לפרסם כאן תגובה!</b>
					{% endif %}
					{% for comment in comments %}
						<div class="well">
							<div class="media">
								<div class="media-left">
									 <!--<img src="http://placehold.it/70x70" alt="">-->
									<h1>{{ comment.CommentVotes }}</h1>
								</div>
								<div class="media-left">

								</div>
								<div class="media-body">
									<h4 class="margin-t-0">ע"י: {{ comment.Name }}</h4>
									<p>{{ comment.date }}</p>
									<p>תגובה: <br>{{ comment.Comment }}</p>
									<p>
										<a href="{{ url_for('upvote', comment_id=comment.CommentID, title=post.Title) }}" style="text-decoration:none">
											<button class="btn btn-sm btn-default">
												<span class="glyphicon glyphicon-thumbs-up"></span> הצבע למעלה
											</button>
										</a>
										<a href="{{ url_for('downvote', comment_id=comment.CommentID, title=post.Title) }}" style="text-decoration:none">
											<button class="btn btn-sm btn-default">
												<span class="glyphicon glyphicon-thumbs-down"></span> הצבע למטה
											</button>
											</a>
										<button class="btn btn-sm btn-default">
											<span class="glyphicon glyphicon-comment"></span> הגב
										</button>
									</p>
								</div>
							</div>
						</div>
					{% endfor %}

{% endblock %}