{% extends 'layout.html' %}
{% block header %}
    <h1>פאנל ניהול</h1>
    כאן הקסם מתרחש :)
{% endblock %}

{% block middle_area %}
    <table width="300" cellspacing="100" cellpadding="100" align="center">
        <tr>
            <td>
                <a href="{{ url_for('posts_admin') }}" class="list-group-item"><center>פוסטים</center></a>
            </td>
            <td>
                &nbsp;&nbsp;
            </td>
            <td>
                <a href="{{ url_for('tags_admin') }}" class="list-group-item"><center>תוויות</center></a>
            </td>
                        <td>
                &nbsp;&nbsp;
            </td>
            <td>
                <a href="/admin/comments.html" class="list-group-item"><center>תגובות</center></a>
            </td>
        </tr>
    </table>

{% endblock %}
