{% extends 'layout.html' %}


{% block header %}
<script src="/static/ckeditor/ckeditor.js"></script>

    <h1>צור פוסט חדש</h1>
    {% if successful %}
        <h2> הפוסט נוצר בהצלחה!</h2>
    {% elif failure %}
        <h3> התרחשה שגיאה בעת נסיון היצירה:<br> {{error}} </h3>
        פרטים:<br>
{{detail}}
    {% endif %}
{% endblock %}

{% block middle_area %}
    {% if post is defined %}
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <b><font color="red">השגיאות הבאות התרחשו: </font></b>
                <ul class=flashes>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        <form action="{{ url_for('create_post')}}" method="post">
            <div class="form-group">
                <label for='post_title'><h3>כותרת</h3></label>
                <input type='text' class='form-control' id='post_title' name='title' value=" {{ post.Title }} ">
            </div>
            <br>
            <table>
                <tr>
                    <td>
                        <h3>            העלה תמונה        </h3>
                        <input type="file" name="image_location" value=" {{ post.Image_Location }}" id="image">
                    </td>
                    <td>
                        <h3>            הוסף כיתוב לתמונה        </h3>
                        <input type="text" size="80" class="form-control" name="image_caption" value="{{ post.Image_Caption }}">
                    </td>
                </tr>
            </table>

            <h3> הקדמה</h3>
                <textarea name="lead" id="editor1">
                    {{ post.Lead }}
                </textarea>
                <script>
                    CKEDITOR.replace( 'editor1',
                                      {
                                      height: 100,
                                      language: 'en'} );
                    CKEDITOR.add
                    config.allowedContent = true;
                </script>
                <br>
                <h3>טקסט</h3>
                <textarea name="text" id="editor2" rows="10" cols="50"> {{ post.Text }}</textarea>
                <script>
                    CKEDITOR.replace( 'editor2',
                                      {
                                      language: 'en'} );
                    CKEDITOR.add
                    CKEDITOR.config.contentsCss = 'style.css' ;
                    config.allowedContent = true;
                </script>

            <br>
            <table>
                <tr>
                    <td>
                        <div class="form-group">
                        <label for="primary_tag">תווית ראשית</label><br>
                        {% for tag in tags %}
                            {% if tag.tag == post.Primary_Tag %}
                                <input type="checkbox" id="primary_tag" name="primary_tag_{{ tag.tag }}" checked> {{ tag.tag }}&nbsp;<br>
                            {% else %}
                                <input type="checkbox" id="primary_tag" name="primary_tag_{{ tag.tag }}"> {{ tag.tag }}&nbsp;<br>
                            {% endif %}
                        {% endfor %}
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                        <label for="secondary_tags">תווית משנית</label><br>
                        {% for tag in tags %}
                            {% if tag.tag == post.Secondary_Tag %}
                                <input type="checkbox" id="secondary_tags" name="secondary_tag_{{ tag.tag }}" checked> {{ tag.tag }}&nbsp;<br>
                            {% else %}
                                <input type="checkbox" id="secondary_tags" name="secondary_tag_{{ tag.tag }}"> {{ tag.tag }}&nbsp;<br>
                            {% endif %}

                        {% endfor %}
                        </div>
                    </td>
                </tr>

            </table>
            <br>
            <button type="submit" class="btn btn-default">פרסם</button>
        </form>
    {% else %}
        <form action="{{ url_for('create_post')}}" method="post" enctype="multipart/form-data" >
            <div class="form-group">
                <label for='post_title'><h3>כותרת</h3></label>
                <input type='text' class='form-control' id='post_title' name='title'>
            </div>
            <br>
            <table>
                <tr>
                    <td>
                        <h3>            העלה תמונה        </h3>
                        <input type="file" name="image_location" >
                    </td>
                    <td>
                        <h3>            הוסף כיתוב לתמונה        </h3>
                        <input type="text" size="80" class="form-control" name="image_caption">
                    </td>
                </tr>
            </table>

            <h3> הקדמה</h3>
                <textarea name="lead" id="editor1">

                </textarea>
                <script>
                    CKEDITOR.replace( 'editor1',
                                      {
                                      height: 100,
                                      language: 'en'} );
                    CKEDITOR.add
                    config.allowedContent = true;
                </script>
                <br>
                <h3>טקסט</h3>
                <textarea name="text" id="editor2" rows="10" cols="50"></textarea>
                <script>
                    CKEDITOR.replace( 'editor2',
                                      {
                                      language: 'en'} );
                    CKEDITOR.add
                    CKEDITOR.config.contentsCss = 'style.css' ;
                    config.allowedContent = true;
                </script>

            <br>
            <table>
                <tr>
                    <td>
                        <div class="form-group">
                        <label for="primary_tag">תווית ראשית</label><br>
                        {% for tag in tags %}
                            <input type="checkbox" id="primary_tag" name="primary_tag_{{ tag.tag }}"> {{ tag.tag }}&nbsp;<br>
                        {% endfor %}
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                        <label for="secondary_tags">תווית משנית</label><br>
                        {% for tag in tags %}
                            <input type="checkbox" id="secondary_tags" name="secondary_tag_{{ tag.tag }}"> {{ tag.tag }}&nbsp;<br>
                        {% endfor %}
                        </div>
                    </td>
                </tr>

            </table>
            <br>
            <button type="submit" class="btn btn-default">פרסם</button>
        </form>
    {% endif %}
{% endblock %}
