{% extends 'layout.html' %}
{% block header %}
    <h1>Posts Admin Page</h1>
{% endblock %}

{% block middle_area %}
    <form action="{{ url_for('delete_post') }}" method="post">
        <table border='0'>
            <tr>
                <td>
                    <b>למחוק?</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </td>
                <td>
                    <b>כותרת</b>
                </td>
                <td>
                    <b>קטגוריה</b>&nbsp;&nbsp;&nbsp;
                </td>
                <td>
                    <b>תאריך</b>
                </td>
            </tr>
            {% for post in all_posts %}
            <tr>
                <td>
                    <input type="checkbox" class='form-control' id="to_delete" name="{{post.Title}}">

                </td>
                <td>
                    <a href='{{ url_for("edit_post", title=post.Title)}}'>{{ post.Title }}</a>&nbsp;&nbsp;&nbsp;&nbsp;
                </td>
                <td>
                    {{ post.Primary_Tag}}&nbsp;&nbsp;&nbsp;&nbsp;
                </td>
                <td>
                    {{post.Date}}
                </td>
            </tr>
            {% endfor %}
                        <tr>
                <td>
                </td>
                <td>
                </td>
                <td>
                </td>
                <td>
                    <br>
                    מספר פוסטים כולל: {{ all_posts|length }}
                </td>
            </tr>
            <tr>
                <td>
                    <br>
                    <input type="submit" class="btn btn-default" value="מחק">
                </td>
                <td>
                    <br> &nbsp;
                    <a href="{{ url_for('create_post') }}">
                        <div type="submit" class="btn btn-default">צור פוסט חדש</div>
                    </a>
                </td>
            </tr>
        </table>
    </form>
{% endblock %}